# Dependencies
/node_modules
/src/functions/node_modules

# Build outputs
/out
/build
/.next
/lib

# Firebase
.firebase/
*-debug.log

# Capacitor
/android/
/ios/
/www/

# Local Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
temp.env

# Misc
.DS_Store
*.pem
*.log
*.tsbuildinfo
next-env.d.ts
