# Firebase
.firebase/database_export/
.firebase/hosting.YnVpbGQ.cache
.firebase/

# Misc
.DS_Store
.env.local
.env
.hstr
.idea/
.project
.settings
.vscode/
*.iml
*.log
*.suo
npm-debug.log

# Node
/node_modules/

# Next.js
**/.next/
/out/

# Nuxt
/dist/
/.nuxt/
/.output/
/pwa-assets/

# Capacitor
/android/
/ios/
certs/

# Custom
encode-key.js
next-env.d.ts
# Genkit local cache and traces
.genkit/

# Capacitor native folders
/android/
/ios/
/pwa-assets/
